{
  "openapi": "3.1.0",
  "info": {
    "title": "Adamik",
    "version": "0.1.0",
    "description": "Adamik API reference"
  },
  "servers": [
    {
      "url": "https://api.adamik.io"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api": {
      "get": {
        "tags": [""],
        "summary": "Open API Definition",
        "description": "Provides the Open API definition of the Adamik API",
        "responses": {
          "200": {
            "description": "200 OK - Returns the OpenAPI spec of the Adamik API, in JSON format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/address/encode": {
      "post": {
        "tags": ["address"],
        "summary": "Encode an Address",
        "description": "Encodes the provided public key to one or multiple addresses, for the given chain ID.       Each address is labeled with a type, which may be \"default\" when there is only one address.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chainId": {
                    "$ref": "#/components/schemas/ChainId"
                  },
                  "pubkey": {
                    "type": "string"
                  }
                },
                "required": ["chainId", "pubkey"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK - Returns true if the encoded result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chainId": {
                      "$ref": "#/components/schemas/ChainId"
                    },
                    "pubkey": {
                      "type": "string"
                    },
                    "addresses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          }
                        },
                        "required": ["type", "address"]
                      }
                    }
                  },
                  "required": ["chainId", "pubkey", "addresses"]
                }
              }
            }
          }
        }
      }
    },
    "/api/address/validate": {
      "post": {
        "tags": ["address"],
        "summary": "Validate Address",
        "description": "Validates the specified address for the given chain ID, returning true if the address is valid, otherwise false.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chainId": {
                    "$ref": "#/components/schemas/ChainId"
                  },
                  "address": {
                    "type": "string"
                  }
                },
                "required": ["chainId", "address"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK - Returns true if the address is valid for the specified chain ID, otherwise false.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/account/state": {
      "post": {
        "tags": ["account"],
        "summary": "Get Account State (Balances)",
        "description": "Returns the state of a specified account identifier (address or xpub) and chain ID, focusing on balance information. The response includes details on native asset balances, token balances, and staking balances. This endpoint supports optional filters to refine the results, making it essential for wallet applications to display accurate and tailored account information.",
        "parameters": [
          {
            "in": "query",
            "name": "include",
            "description": "Optional filter to request specific data. Use a single 'include' parameter with comma-separated values.",
            "schema": {
              "type": "string",
              "description": "Optional filter to request specific data. Use a single 'include' parameter with comma-separated values.",
              "example": "native,tokens,staking"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chainId": {
                    "type": "string",
                    "enum": [
                      "algorand",
                      "cosmoshub",
                      "cosmoshub-testnet",
                      "osmosis",
                      "osmosis-testnet",
                      "celestia",
                      "celestia-testnet",
                      "dydx",
                      "axelar",
                      "ethereum",
                      "sepolia",
                      "holesky",
                      "zksync",
                      "zksync-sepolia",
                      "injective-evm-testnet",
                      "base",
                      "base-sepolia",
                      "optimism",
                      "optimism-sepolia",
                      "arbitrum",
                      "arbitrum-sepolia",
                      "bitcoin",
                      "bitcoin-testnet",
                      "polygon",
                      "polygon-amoy",
                      "bsc",
                      "bsc-testnet",
                      "linea",
                      "linea-sepolia",
                      "avalanche",
                      "avalanche-fuji",
                      "gnosis",
                      "gnosis-chiado",
                      "moonbeam",
                      "moonriver",
                      "moonbase",
                      "fantom",
                      "mantle",
                      "rootstock",
                      "rootstock-testnet",
                      "litecoin",
                      "dogecoin",
                      "ton",
                      "chiliz",
                      "chiliz-testnet",
                      "injective",
                      "akash",
                      "band",
                      "dymension",
                      "kyve",
                      "neutron",
                      "terra2",
                      "stargaze",
                      "tron",
                      "evmos",
                      "irisnet",
                      "juno",
                      "lum-network",
                      "omniflix",
                      "sei",
                      "medibloc",
                      "passage",
                      "quasar",
                      "seda",
                      "sommelier",
                      "shentu",
                      "stride",
                      "chihuahua",
                      "bitsong",
                      "persistence",
                      "comdex",
                      "fetch-ai",
                      "humans-ai",
                      "ki",
                      "likecoin",
                      "mars-hub",
                      "provenance",
                      "quicksilver",
                      "saga",
                      "ux-chain",
                      "kava"
                    ]
                  },
                  "accountId": {
                    "type": "string",
                    "description": "Account identifier (address, xpub, etc) for the specified chain ID"
                  }
                },
                "required": ["chainId", "accountId"],
                "examples": [
                  {
                    "chainId": "ethereum",
                    "accountId": "0x0000000000000000000000000000000000000000"
                  },
                  {
                    "chainId": "bitcoin",
                    "accountId": "xpub"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK - Returns the current balance information for the specified address and chain ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chainId": {
                      "type": "string",
                      "enum": [
                        "algorand",
                        "cosmoshub",
                        "cosmoshub-testnet",
                        "osmosis",
                        "osmosis-testnet",
                        "celestia",
                        "celestia-testnet",
                        "dydx",
                        "axelar",
                        "ethereum",
                        "sepolia",
                        "holesky",
                        "zksync",
                        "zksync-sepolia",
                        "injective-evm-testnet",
                        "base",
                        "base-sepolia",
                        "optimism",
                        "optimism-sepolia",
                        "arbitrum",
                        "arbitrum-sepolia",
                        "bitcoin",
                        "bitcoin-testnet",
                        "polygon",
                        "polygon-amoy",
                        "bsc",
                        "bsc-testnet",
                        "linea",
                        "linea-sepolia",
                        "avalanche",
                        "avalanche-fuji",
                        "gnosis",
                        "gnosis-chiado",
                        "moonbeam",
                        "moonriver",
                        "moonbase",
                        "fantom",
                        "mantle",
                        "rootstock",
                        "rootstock-testnet",
                        "litecoin",
                        "dogecoin",
                        "ton",
                        "chiliz",
                        "chiliz-testnet",
                        "injective",
                        "akash",
                        "band",
                        "dymension",
                        "kyve",
                        "neutron",
                        "terra2",
                        "stargaze",
                        "tron",
                        "evmos",
                        "irisnet",
                        "juno",
                        "lum-network",
                        "omniflix",
                        "sei",
                        "medibloc",
                        "passage",
                        "quasar",
                        "seda",
                        "sommelier",
                        "shentu",
                        "stride",
                        "chihuahua",
                        "bitsong",
                        "persistence",
                        "comdex",
                        "fetch-ai",
                        "humans-ai",
                        "ki",
                        "likecoin",
                        "mars-hub",
                        "provenance",
                        "quicksilver",
                        "saga",
                        "ux-chain",
                        "kava"
                      ]
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "balances": {
                      "type": "object",
                      "properties": {
                        "native": {
                          "type": "object",
                          "properties": {
                            "available": {
                              "type": "string",
                              "description": "Amount of native currency that is immediately available for using. This excludes amounts that are locked in staking positions."
                            },
                            "total": {
                              "type": "string",
                              "description": "Total amount of native currency owned by the account, including both available and locked amounts (staking positions)."
                            }
                          }
                        },
                        "tokens": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "token": {
                                "type": "object",
                                "properties": {
                                  "chainId": {
                                    "$ref": "#/components/schemas/ChainId"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "TRC10",
                                      "TRC20",
                                      "ASA",
                                      "ERC20",
                                      "IBC",
                                      "JETTON"
                                    ]
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "ticker": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "string"
                                  },
                                  "contractAddress": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "chainId",
                                  "type",
                                  "id",
                                  "name",
                                  "ticker"
                                ]
                              },
                              "amount": {
                                "type": "string",
                                "description": "Current balance of this token owned by the account. The amount is expressed in the token's smallest unit (based on its decimals)."
                              }
                            },
                            "required": ["token"]
                          }
                        },
                        "staking": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "string",
                              "description": "Total amount of native currency involved in staking positions (locked + unlocking + unlocked)."
                            },
                            "locked": {
                              "type": "string",
                              "description": "Amount of native currency currently locked in staking positions."
                            },
                            "unlocking": {
                              "type": "string",
                              "description": "Amount of native currency that is in the process of being unstaked (during unbonding period)."
                            },
                            "unlocked": {
                              "type": "string",
                              "description": "Amount of native currency that has completed the unbonding period and is ready to be withdrawn."
                            },
                            "positions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "validatorAddresses": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "List of validator addresses involved in staking position."
                                  },
                                  "amount": {
                                    "type": "string",
                                    "description": "Amount of native currency used in this specific staking position."
                                  },
                                  "status": {
                                    "type": "string",
                                    "enum": [
                                      "free",
                                      "locked",
                                      "unlocking",
                                      "unlocked"
                                    ]
                                  },
                                  "completionDate": {
                                    "type": "number",
                                    "description": "Unix timestamp (in milliseconds) when the unbonding period will complete. Only present for positions with 'unlocking' status."
                                  }
                                },
                                "required": ["validatorAddresses", "status"]
                              },
                              "description": "Detailed list of individual staking positions."
                            },
                            "rewards": {
                              "type": "object",
                              "properties": {
                                "native": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "validatorAddress": {
                                        "type": "string"
                                      },
                                      "amount": {
                                        "type": "string",
                                        "description": "Amount of unclaimed staking rewards in native currency from this validator."
                                      }
                                    },
                                    "required": ["validatorAddress"]
                                  },
                                  "description": "List of unclaimed staking rewards in native currency, per validator."
                                },
                                "tokens": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "token": {
                                        "type": "object",
                                        "properties": {
                                          "chainId": {
                                            "$ref": "#/components/schemas/ChainId"
                                          },
                                          "type": {
                                            "type": "string",
                                            "enum": [
                                              "TRC10",
                                              "TRC20",
                                              "ASA",
                                              "ERC20",
                                              "IBC",
                                              "JETTON"
                                            ]
                                          },
                                          "id": {
                                            "type": "string"
                                          },
                                          "name": {
                                            "type": "string"
                                          },
                                          "ticker": {
                                            "type": "string"
                                          },
                                          "decimals": {
                                            "type": "string"
                                          },
                                          "contractAddress": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "chainId",
                                          "type",
                                          "id",
                                          "name",
                                          "ticker"
                                        ]
                                      },
                                      "validatorAddress": {
                                        "type": "string"
                                      },
                                      "amount": {
                                        "type": "string",
                                        "description": "Amount of unclaimed staking rewards in this token. The amount is expressed in the token's smallest unit."
                                      }
                                    },
                                    "required": ["token"]
                                  }
                                }
                              },
                              "required": ["native", "tokens"],
                              "description": "Information about unclaimed staking rewards, both in native currency and tokens."
                            }
                          },
                          "required": ["positions"]
                        }
                      }
                    }
                  },
                  "required": ["chainId", "accountId", "balances"]
                }
              }
            }
          }
        }
      }
    },
    "/api/account/state/tokens": {
      "post": {
        "tags": ["account"],
        "summary": "Get Account Tokens (paginated)",
        "description": "Returns the tokens (amount and details) held by a specified account identifier and chain ID. This endpoint allows for pagination over the returned tokens.",
        "parameters": [
          {
            "in": "query",
            "name": "nextPage",
            "description": "Token from the previous response of this endpoint. Provide it here to fetch the next page of results.",
            "schema": {
              "type": "string",
              "description": "Token from the previous response of this endpoint. Provide it here to fetch the next page of results."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chainId": {
                    "type": "string",
                    "enum": [
                      "algorand",
                      "cosmoshub",
                      "cosmoshub-testnet",
                      "osmosis",
                      "osmosis-testnet",
                      "celestia",
                      "celestia-testnet",
                      "dydx",
                      "axelar",
                      "ethereum",
                      "sepolia",
                      "holesky",
                      "base",
                      "base-sepolia",
                      "optimism",
                      "arbitrum",
                      "polygon",
                      "polygon-amoy",
                      "bsc",
                      "bsc-testnet",
                      "linea",
                      "linea-sepolia",
                      "avalanche",
                      "gnosis",
                      "gnosis-chiado",
                      "moonbeam",
                      "moonriver",
                      "moonbase",
                      "fantom",
                      "ton",
                      "injective",
                      "akash",
                      "band",
                      "dymension",
                      "kyve",
                      "neutron",
                      "terra2",
                      "stargaze",
                      "tron",
                      "evmos",
                      "irisnet",
                      "juno",
                      "lum-network",
                      "omniflix",
                      "sei",
                      "medibloc",
                      "passage",
                      "quasar",
                      "seda",
                      "sommelier",
                      "shentu",
                      "stride",
                      "chihuahua",
                      "bitsong",
                      "persistence",
                      "comdex",
                      "fetch-ai",
                      "humans-ai",
                      "ki",
                      "likecoin",
                      "mars-hub",
                      "provenance",
                      "quicksilver",
                      "saga",
                      "ux-chain",
                      "kava"
                    ]
                  },
                  "accountId": {
                    "type": "string",
                    "description": "Account identifier (address, xpub, etc) for the specified chain ID"
                  }
                },
                "required": ["chainId", "accountId"],
                "examples": [
                  {
                    "chainId": "ethereum",
                    "accountId": "0x0000000000000000000000000000000000000000"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK - Returns the current tokens information for the specified address and chain ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chainId": {
                      "type": "string",
                      "enum": [
                        "algorand",
                        "cosmoshub",
                        "cosmoshub-testnet",
                        "osmosis",
                        "osmosis-testnet",
                        "celestia",
                        "celestia-testnet",
                        "dydx",
                        "axelar",
                        "ethereum",
                        "sepolia",
                        "holesky",
                        "base",
                        "base-sepolia",
                        "optimism",
                        "arbitrum",
                        "polygon",
                        "polygon-amoy",
                        "bsc",
                        "bsc-testnet",
                        "linea",
                        "linea-sepolia",
                        "avalanche",
                        "gnosis",
                        "gnosis-chiado",
                        "moonbeam",
                        "moonriver",
                        "moonbase",
                        "fantom",
                        "ton",
                        "injective",
                        "akash",
                        "band",
                        "dymension",
                        "kyve",
                        "neutron",
                        "terra2",
                        "stargaze",
                        "tron",
                        "evmos",
                        "irisnet",
                        "juno",
                        "lum-network",
                        "omniflix",
                        "sei",
                        "medibloc",
                        "passage",
                        "quasar",
                        "seda",
                        "sommelier",
                        "shentu",
                        "stride",
                        "chihuahua",
                        "bitsong",
                        "persistence",
                        "comdex",
                        "fetch-ai",
                        "humans-ai",
                        "ki",
                        "likecoin",
                        "mars-hub",
                        "provenance",
                        "quicksilver",
                        "saga",
                        "ux-chain",
                        "kava"
                      ]
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "balances": {
                      "type": "object",
                      "properties": {
                        "tokens": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "token": {
                                "type": "object",
                                "properties": {
                                  "chainId": {
                                    "$ref": "#/components/schemas/ChainId"
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "TRC10",
                                      "TRC20",
                                      "ASA",
                                      "ERC20",
                                      "IBC",
                                      "JETTON"
                                    ]
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "ticker": {
                                    "type": "string"
                                  },
                                  "decimals": {
                                    "type": "string"
                                  },
                                  "contractAddress": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "chainId",
                                  "type",
                                  "id",
                                  "name",
                                  "ticker"
                                ]
                              },
                              "amount": {
                                "type": "string",
                                "description": "Current balance of this token owned by the account. The amount is expressed in the token's smallest unit (based on its decimals)."
                              }
                            },
                            "required": ["token"]
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "nextPage": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Use the token from the previous response to retrieve the next page of results."
                        }
                      },
                      "required": ["nextPage"]
                    }
                  },
                  "required": ["chainId", "accountId", "balances", "pagination"]
                }
              }
            }
          }
        }
      }
    },
    "/api/account/history": {
      "post": {
        "tags": ["account"],
        "summary": "Get Account History",
        "description": "Returns the history of a specified account identifier (address or xpub) and chain ID, primarily focusing on past transactions.",
        "parameters": [
          {
            "in": "query",
            "name": "nextPage",
            "description": "Token from the previous response of this endpoint. Provide it here to fetch the next page of results.",
            "schema": {
              "type": "string",
              "description": "Token from the previous response of this endpoint. Provide it here to fetch the next page of results."
            }
          },
          {
            "in": "query",
            "name": "include",
            "description": "Optional filter to request specific data. Use a single 'include' parameter with comma-separated values. Possible values are 'parsed' and 'raw'.",
            "schema": {
              "type": "string",
              "description": "Optional filter to request specific data. Use a single 'include' parameter with comma-separated values. Possible values are 'parsed' and 'raw'.",
              "example": "parsed,raw"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chainId": {
                    "type": "string",
                    "enum": [
                      "cosmoshub",
                      "osmosis",
                      "celestia",
                      "dydx",
                      "axelar",
                      "ethereum",
                      "sepolia",
                      "holesky",
                      "base",
                      "base-sepolia",
                      "optimism",
                      "arbitrum",
                      "polygon",
                      "polygon-amoy",
                      "bsc",
                      "bsc-testnet",
                      "linea",
                      "linea-sepolia",
                      "avalanche",
                      "gnosis",
                      "gnosis-chiado",
                      "moonbeam",
                      "moonriver",
                      "moonbase",
                      "fantom",
                      "injective",
                      "akash",
                      "neutron",
                      "evmos",
                      "juno",
                      "sei",
                      "stride",
                      "kava"
                    ]
                  },
                  "accountId": {
                    "type": "string",
                    "description": "Account identifier (address, xpub, etc) for the specified chain ID"
                  }
                },
                "required": ["chainId", "accountId"],
                "examples": [
                  {
                    "chainId": "ethereum",
                    "accountId": "0x0000000000000000000000000000000000000000"
                  },
                  {
                    "chainId": "bitcoin",
                    "accountId": "xpub"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 OK - Returns the current list of transactions for the specified address and chain ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chainId": {
                      "type": "string",
                      "enum": [
                        "cosmoshub",
                        "osmosis",
                        "celestia",
                        "dydx",
                        "axelar",
                        "ethereum",
                        "sepolia",
                        "holesky",
                        "base",
                        "base-sepolia",
                        "optimism",
                        "arbitrum",
                        "polygon",
                        "polygon-amoy",
                        "bsc",
                        "bsc-testnet",
                        "linea",
                        "linea-sepolia",
                        "avalanche",
                        "gnosis",
                        "gnosis-chiado",
                        "moonbeam",
                        "moonriver",
                        "moonbase",
                        "fantom",
                        "injective",
                        "akash",
                        "neutron",
                        "evmos",
                        "juno",
                        "sei",
                        "stride",
                        "kava"
                      ]
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "raw": {},
                          "parsed": {
                            "type": "object",
                            "properties": {
                              "chainId": {
                                "$ref": "#/components/schemas/ChainId"
                              },
                              "id": {
                                "type": "string"
                              },
                              "mode": {
                                "anyOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "transfer",
                                      "transferToken",
                                      "delegate",
                                      "redelegate",
                                      "undelegate",
                                      "claimRewards"
                                    ]
                                  },
                                  {
                                    "type": "string",
                                    "enum": ["unknown"]
                                  }
                                ]
                              },
                              "state": {
                                "type": "string",
                                "enum": [
                                  "pending",
                                  "unconfirmed",
                                  "confirmed",
                                  "failed",
                                  "unknown"
                                ]
                              },
                              "tokenId": {
                                "type": "string"
                              },
                              "blockHeight": {
                                "type": "string"
                              },
                              "timestamp": {
                                "type": "string",
                                "description": "Timestamp in milliseconds"
                              },
                              "fees": {
                                "type": "object",
                                "properties": {
                                  "amount": {
                                    "type": "string"
                                  },
                                  "ticker": {
                                    "type": "string",
                                    "description": "Specific currency for that amount. If not provided, the amount is in the native currency of the chain."
                                  }
                                }
                              },
                              "gas": {
                                "type": "string"
                              },
                              "nonce": {
                                "type": "string"
                              },
                              "memo": {
                                "type": "string"
                              },
                              "senders": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "string"
                                    },
                                    "amount": {
                                      "type": "string"
                                    },
                                    "ticker": {
                                      "type": "string",
                                      "description": "Specific currency for that amount. If not provided, the amount is in the native currency of the chain."
                                    }
                                  },
                                  "required": ["address"]
                                }
                              },
                              "recipients": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "address": {
                                      "type": "string"
                                    },
                                    "amount": {
                                      "type": "string"
                                    },
                                    "ticker": {
                                      "type": "string",
                                      "description": "Specific currency for that amount. If not provided, the amount is in the native currency of the chain."
                                    }
                                  },
                                  "required": ["address"]
                                }
                              },
                              "validators": {
                                "type": "object",
                                "properties": {
                                  "source": {
                                    "type": "object",
                                    "properties": {
                                      "address": {
                                        "type": "string"
                                      },
                                      "amount": {
                                        "type": "string"
                                      },
                                      "ticker": {
                                        "type": "string",
                                        "description": "Specific currency for that amount. If not provided, the amount is in the native currency of the chain."
                                      }
                                    },
                                    "required": ["address"]
                                  },
                                  "target": {
                                    "type": "object",
                                    "properties": {
                                      "address": {
                                        "type": "string"
                                      },
                                      "amount": {
                                        "type": "string"
                                      },
                                      "ticker": {
                                        "type": "string",
                                        "description": "Specific currency for that amount. If not provided, the amount is in the native currency of the chain."
                                      }
                                    },
                                    "required": ["address"]
                                  }
                                }
                              }
                            },
                            "required": [
                              "chainId",
                              "id",
                              "mode",
                              "state",
                              "fees"
                            ]
                          }
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "nextPage": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ],
                          "description": "Use the token from the previous response to retrieve the next page of results."
                        }
                      },
                      "required": ["nextPage"]
                    }
                  },
                  "required": [
                    "chainId",
                    "accountId",
                    "transactions",
                    "pagination"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/chains": {
      "get": {
        "tags": ["chains"],
        "summary": "Get Supported Chains",
        "description": "Retrieves a list of all supported blockchain networks with their detailed information.",
        "responses": {
          "200": {
            "description": "200 OK - Returns a list of names and detailed information for all supported blockchain networks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chains": {
                      "type": "object",
                      "properties": {
                        "algorand": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "ethereum": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "sepolia": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "holesky": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "zksync": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "zksync-sepolia": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "injective-evm-testnet": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "base": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "base-sepolia": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "optimism": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "optimism-sepolia": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "arbitrum": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "arbitrum-sepolia": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "polygon": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "polygon-amoy": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "bsc": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "bsc-testnet": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "linea": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "linea-sepolia": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "avalanche": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "avalanche-fuji": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "gnosis": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "gnosis-chiado": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "moonbeam": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "moonriver": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "moonbase": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "fantom": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
                              "$ref": "#/components/schemas/ChainId"
                            },
                            "nativeId": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "ticker": {
                              "type": "string"
                            },
                            "decimals": {
                              "type": "number"
                            },
                            "isTestnetFor": {
                              "type": "string"
                            },
                            "params": {},
                            "supportedFeatures": {
                              "$ref": "#/components/schemas/ChainSupportedFeatures"
                            }
                          },
                          "required": [
                            "family",
                            "id",
                            "nativeId",
                            "name",
                            "ticker",
                            "decimals",
                            "supportedFeatures"
                          ]
                        },
                        "mantle": {
                          "type": "object",
                          "properties": {
                            "family": {
                              "type": "string",
                              "enum": [
                                "algorand",
                                "cosmos",
                                "evm",
                                "bitcoin",
                                "tron",
                                "ton"
                              ]
                            },
                            "id": {
[...]
